* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom,#175d69 23%, #330c43 95%);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
}

.navbar .links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
}

.navbar .links a {
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    transition: 0.2 ease;
}

.navbar .links a:hover {
    color: lightskyblue;
}